.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-05C62E81-17E2-426B-8EAA-A3BBEBC24570 {
    width: 980px;
    height: 980px;
    background-position: -1px -1px;
}

.sprite-07BB4E71-6ADA-4D9C-BCBB-ADD11B9E5707 {
    width: 512px;
    height: 512px;
    background-position: -983px -1px;
}

.sprite-16EB14BF-61C3-4F12-9177-63166E98D79A {
    width: 512px;
    height: 512px;
    background-position: -1497px -1px;
}

.sprite-204FB4D9-001E-4550-BBFF-882C9A29EE3C {
    width: 2000px;
    height: 2000px;
    background-position: -983px -515px;
}

.sprite-311EA63C-0D2F-4424-97D4-1C550B4BC1C5 {
    width: 300px;
    height: 300px;
    background-position: -2011px -1px;
}

.sprite-4AA92BA4-CBC7-4CFD-A678-D62D0A5309CF {
    width: 816px;
    height: 763px;
    background-position: -2985px -1px;
}

.sprite-5B3F6470-788F-498C-9E19-3ADBF5CD0786 {
    width: 768px;
    height: 543px;
    background-position: -2985px -766px;
}

.sprite-601FF79D-A60F-4381-9023-FA6C6C9A22E7 {
    width: 1024px;
    height: 1024px;
    background-position: -1px -2517px;
}

.sprite-B9E86B06-4928-4FC4-B89E-5ABBC2B8CBCA {
    width: 1200px;
    height: 200px;
    background-position: -1027px -2517px;
}

.sprite-BE77C68F-E31A-4509-9B17-69A0964ABFFF {
    width: 512px;
    height: 512px;
    background-position: -2313px -1px;
}

.sprite-C195016B-76DE-4EC1-9D4E-BB739CCCDF52 {
    width: 540px;
    height: 417px;
    background-position: -1px -1311px;
}

.sprite-CCF2AC02-37DB-4806-81C0-D48414791755 {
    width: 1000px;
    height: 1000px;
    background-position: -2229px -2517px;
}

.sprite-D2A63BBA-9722-4A3F-80AA-8DEF42418282 {
    width: 1200px;
    height: 200px;
    background-position: -1027px -3519px;
}

.sprite-RunRight01 {
    width: 128px;
    height: 128px;
    background-position: -2827px -1px;
}

.sprite-RunRight02 {
    width: 128px;
    height: 128px;
    background-position: -3803px -1px;
}

.sprite-RunRight03 {
    width: 128px;
    height: 128px;
    background-position: -2827px -131px;
}

.sprite-RunRight04 {
    width: 128px;
    height: 128px;
    background-position: -3803px -131px;
}
